body{
    background-color: rgb(244, 244, 244);
}
.fa{
    color: rgb(80, 100, 211);
}
.box_inside{
    background-color: rgb(255, 255, 255);
    padding: 60px 10px; 
    margin: 20px 10px;
}
a{
    border-bottom: solid blue 1px;
}
.box{
    padding: 50px;
    
}
.content{
    margin: 20px 0px;
}
span{
    font-size: 15px;
}